.call-to-action {
  background-color: var(--button-color);
  color: var(--button-text);
}

.call-to-action:hover {
  background: var(--hover-background-color);
  color: var(--hover-foreground-color);
}

.availability {
  background-color: var(--background);
}
