.theme-toggle-button .moon-icon {
  display: none;
}

.theme-toggle-ease {
  opacity: 0;
  animation: themeToggleEaseIn 600ms cubic-bezier(0.2, 0, 0.38, 0.9) both;
}

@keyframes themeToggleEaseIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.theme-toggle-button .sun-icon {
  display: block;
}

.dark .theme-toggle-button .moon-icon {
  display: block;
}

.dark .theme-toggle-button .sun-icon {
  display: none;
}

